@page
@model Aspnet_Core_Identity.Pages.RegisterModel
@{
}


<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4"> 
            <h1 class="mb-3">Register</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger">

                </div>
                <div>

                </div>
                <div>

                </div>
            </form>
        </div>
    </div>
</div>